
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Iconos -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- todo -->
    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
</head>

<body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<div style="text-align:center;clear:both">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>
<!-- Contenedor -->
<ul id="accordion" class="accordion">
    <li>
        <div class="link"><i class="fa fa-paint-brush"></i>管理模块<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="manage">登记</a></li>
            <li><a href="">其他</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-code"></i>统计模块<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="stat/stat_show">详情</a></li>
            <li><a href="">其他</a></li>
        </ul>
    </li>
    <li>
        <div class="link"><i class="fa fa-mobile"></i>联系我们<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="help.html">使用文档</a></li>
            <li><a href="">敬请期待...</a></li>
        </ul>
    </li>
    <li><div class="link"><i class="fa fa-globe"></i>web调试<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
            <li><a href="debug/">敬请期待...</a></li>
        </ul>
    </li>
</ul>
<script src="/static/js/index.js"></script>
</body>
</html>