<!doctype html>
<html lang="en">
<head>
    <!-- 千万注意不要在样式标签区域写注释，后果是灾难性的 -->
    <meta charset="UTF-8">
    <title>弹窗</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>

    </style>
</head>


<body>
<!--
    <table id="main_table" border="1" width="300">
        <caption style="color: deepskyblue" align="center">宾客礼金记录</caption>
        <tr><th bgcolor="#ffd700" align="center">序列号</th><th bgcolor="#ffd700">嘉宾姓名</th><th bgcolor="#ffd700">赠送礼金</th><th bgcolor="#ffd700">出席人数</th><th bgcolor="#ffd700">录入时间</th></tr>
        <tr><td id="id_19" bgcolor="ff69b4"><input type="submit" value="19" onclick="open_win(19)" /></td><td>李婷</td><td>200</td><td>0</td><td>2019-01-20 17:47:50</td></tr>
        <tr><td id="id_16" bgcolor="ff69b4"><input type="submit" value="16" onclick="open_win(16)" /></td><td>李婷</td><td>200</td><td>6</td><td>2019-01-20 16:33:03</td></tr>
    </table>
-->

<script >

</script>
</body>
</html>
